<label>Name: <input type="text"></label>
<br>
<br>
<label>Abstract: <textarea type="text"></textarea></label>
<hr>
<div class="form-group">
    <label for="attributename">Attibute name:</label>
    <br>
    <br>
    <input type="text" class="form-control" id="attributename">
</div>
<div class="form-group">
    <label for="attributecontent">Attibute content:</label>
    <br>
    <br>
    <textarea type="text" class="form-control" id="attributecontent"></textarea>
</div>
<input type="button" value="Add">
